@import "./mixin.scss";

html, body {
  background-color: color($colors, light);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: color($colors, dark);
}

.header {
  padding: 16px;
  color: color($colors, light);
  background-color: color($colors, primary);
}

#draw {
  padding: 0;

  & .row > div {
    padding: 16px;
  }

  .left-area {
    // color: color($colors, light);
    // background-color: color($colors, secondary);
  }

  .right-area {
    // color: color($colors, light);
    // background-color: color($colors, dark);
  }  
}

#chart {
  padding: 16px;
  color: color($colors, light);
  background-color: color($colors, secondary);
}
