@import "./mixin.scss";

html, body {
  background-color: color($colors, light);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: color($colors, dark);
}

.header {
  padding: 16px;
  color: color($colors, light);
  background-color: color($colors, primary);
}

#draw-section, #chart-section {
  .container {
    max-width: 800px;
    padding: 24px 0;
  }
}

#draw-section {
  padding: 0;

  & .row > div {
    padding: 16px;
  } 
}

#chart-section {
  padding: 16px;
  color: color($colors, light);
  background-color: rgba( color($colors, primary), .68 );
}
