@function color ($map, $name) {
  @return map-get($map, $name);
}

$colors: (
  primary: #35C4AF,
  secondary: #5E99AA,
  danger: #FF7247,
  dark: #292F36,
  light: #F7FFF7,
);

// change default bootstrap color

.btn-primary {
  background: color($colors, primary);
  color: color($colors, light);
  border-color: color($colors, primary);
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: color($colors, primary);
    border-color: color($colors, primary);
}
 
.btn-primary:active, .btn-primary.active {
    background: color($colors, primary);
    border-color: color($colors, primary);
}

.btn-outline-primary {
  color: color($colors, light);
  border-color: color($colors, primary);
}
 
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
  color: color($colors, light);
  background: color($colors, primary);
  border-color: color($colors, primary);
}
 
.btn-outline-primary:active, .btn-outline-primary.active {
  color: color($colors, light);
  background: color($colors, primary);
  border-color: color($colors, primary);
  box-shadow: none;
}

.btn-danger {
  background: color($colors, danger);
  color: color($colors, light);
  border-color: color($colors, danger);
}
 
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: color($colors, danger);
    border-color: color($colors, danger);
}
 
.btn-danger:active, .btn-danger.active {
    background: color($colors, danger);
    border-color: color($colors, danger);
}

.btn-outline-danger {
  color: color($colors, light);
  border-color: color($colors, danger);
}
 
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .open > .dropdown-toggle.btn-outline-danger {
  color: color($colors, light);
  background: color($colors, danger);
  border-color: color($colors, danger);
}
 
.btn-outline-danger:active, .btn-outline-danger.active {
  color: color($colors, light);
  background: color($colors, danger);
  border-color: color($colors, danger);
  box-shadow: none;
}