// override bootstrap variables

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         #35C4AF; // #337ab7
$brand-success:         #5E99AA;
$brand-info:            #F7FFF7;
$brand-warning:         #292F36;
$brand-danger:          #FF7247;